* {
  font-family: "Montserrat", sans-serif;

}

body {
  background-color: #EDF2F4;
}

h1 {
  color: #2B2D42;
}

.cuadro-texto {
  height: 30px;
  width: 250px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  padding-left: 10px;
  text-align: start;
}

.btn {
  height: 30px;
  width: 100px;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  background-color: #2B2D42;
  color: #8D99AE;
  border: none;
}

.btn:hover {
  background-color: #8D99AE;
  color: #2B2D42;
  border: none;
}